Source: pfs
Section: libs
Priority: optional
Maintainer: Guido Günther <agx@sigxcpu.org>
Build-Depends:
 debhelper-compat (= 13),
 cargo <!pkg.pfs.rustup>,
 desktop-file-utils,
 gsettings-desktop-schemas-dev (>= 47),
 libadwaita-1-dev (>= 1.6),
 libglib2.0-dev (>= 2.74),
 libgtk-4-dev (>= 4.12),
 meson,
 systemd-dev,
 patchelf,
 rustc (>= 1.86) <!pkg.pfs.rustup>,
 rustup <pkg.pfs.rustup>,
Standards-Version: 4.6.2

Package: pfs-utils
Architecture: linux-any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Multi-Arch: foreign
Description: Phosh File Chooser Utils
 pfs is a library providing a file choser and related tooling.
 .
 This package contains additional utilities like an implementation
 of the org.freedesktop.FileManager1 interface.

Package: pfs-demo
Architecture: linux-any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Multi-Arch: foreign
Description: Phosh File Chooser Demos
 pfs is a library providing a file choser and related tooling.
 .
 This package contains the demo application.

Package: pfs-common
Architecture: all
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Replaces:
 xdg-desktop-portal-phosh (<< 0.52~),
Description: Phosh File Chooser Common Files
 pfs is a library providing a file choser and related tooling.
 .
 This packges contains architecture independent common files.
